# Part C

In the previous part B, we get 

MSE of 42.8598274048752 and 

MSE deviation of 22.198094384171497

In part C, I am going to set epochs as 100 and see the differences.

As I mentioned in Part B, all the steps are the same, except in this part we are going to set epochs as 100.

## Get data and normalize

Before we go further we have to check whether we can use  our gpu option in our jupyter notebook. (You can skip this if you just use cpu option in jupyter notebook)

In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'
#this part is for gpu run in jupyter check. If you just use cpu based jupyter notebook, you can skip this.
tf.test.is_gpu_available(
    cuda_only=False, min_cuda_compute_capability=None
)

True

Since it returns true, now we are ready to move on to the next step.

Let's check our data and see whethere we can use this or not.

In [3]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
concrete_data.shape

(1030, 9)

In [8]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [9]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Since there are no null values, we can assume this data is safe to use.

Now, we must set predictors and target for our model.

In [10]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [11]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

## Normalize data

Just like the Part B, we have to normalize our data by subtracting mean value and dividing by standard deviation.

In [12]:
predictors= (predictors - predictors.mean()) / predictors.std()
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

And lastly, we should check target status before we move on.

In [13]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [14]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

Target status also looks fine in here.

## Import Keras and make regression model

Now, we have to build our regression model.

But before we go further, we put 'sess' line so we can run multiple gpu allowed jupyter nobtebooks.(You can skip this if you just use gpu option)

In [15]:
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import Dense
sess = tf.compat.v1.Session(config=tf.compat.v1.ConfigProto(log_device_placement=True))

Using TensorFlow backend.

It looks fine so we are now going to build our regression model.

In [16]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    #layer 10 , relu activation
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

And now, we have to normalize our datas so that we can get better outcome.

In [17]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [18]:
model = regression_model()

Next, we are going to train our model. However, compared to Part B, the model's epochs will be 100 instead of 50.

In [19]:
#fit the model
epochs = 100 #=> instead of 50, it is 100
model.fit(X_train, y_train, epochs=epochs, verbose=1)
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

Epoch 1/100
721/721 [==============================] - 0s 492us/step - loss: 1607.0392
Epoch 2/100
721/721 [==============================] - 0s 41us/step - loss: 1591.4043
Epoch 3/100
721/721 [==============================] - 0s 39us/step - loss: 1575.9251
Epoch 4/100
721/721 [==============================] - 0s 44us/step - loss: 1560.2519
Epoch 5/100
721/721 [==============================] - 0s 39us/step - loss: 1544.3911
Epoch 6/100
721/721 [==============================] - 0s 40us/step - loss: 1528.0551
Epoch 7/100
721/721 [==============================] - 0s 40us/step - loss: 1510.9588
Epoch 8/100
721/721 [==============================] - 0s 39us/step - loss: 1493.1342
Epoch 9/100
721/721 [==============================] - 0s 46us/step - loss: 1474.3419
Epoch 10/100
721/721 [==============================] - 0s 37us/step - loss: 1454.4240
Epoch 11/100
721/721 [==============================] - 0s 39us/step - loss: 1433.0535
Epoch 12/100
721/721 [==============================] - 0s 41us/step - loss: 1411.0001
Epoch 13/100
721/721 [==============================] - 0s 39us/step - loss: 1387.3278
Epoch 14/100
721/721 [==============================] - 0s 39us/step - loss: 1362.5783
Epoch 15/100
721/721 [==============================] - 0s 41us/step - loss: 1336.8142
Epoch 16/100
721/721 [==============================] - 0s 46us/step - loss: 1309.8095
Epoch 17/100
721/721 [==============================] - 0s 51us/step - loss: 1282.3922
Epoch 18/100
721/721 [==============================] - 0s 44us/step - loss: 1253.7240
Epoch 19/100
721/721 [==============================] - 0s 39us/step - loss: 1224.1833
Epoch 20/100
721/721 [==============================] - 0s 41us/step - loss: 1193.8283
Epoch 21/100
721/721 [==============================] - 0s 41us/step - loss: 1163.1762
Epoch 22/100
721/721 [==============================] - 0s 41us/step - loss: 1132.0651
Epoch 23/100
721/721 [==============================] - 0s 40us/step - loss: 1100.2009
Epoch 24/100
721/721 [==============================] - 0s 41us/step - loss: 1067.7966
Epoch 25/100
721/721 [==============================] - 0s 39us/step - loss: 1035.8421
Epoch 26/100
721/721 [==============================] - 0s 39us/step - loss: 1003.0637
Epoch 27/100
721/721 [==============================] - 0s 39us/step - loss: 970.6057
Epoch 28/100
721/721 [==============================] - 0s 39us/step - loss: 938.5096
Epoch 29/100
721/721 [==============================] - 0s 37us/step - loss: 906.5763
Epoch 30/100
721/721 [==============================] - 0s 40us/step - loss: 874.4831
Epoch 31/100
721/721 [==============================] - 0s 39us/step - loss: 843.5785
Epoch 32/100
721/721 [==============================] - 0s 41us/step - loss: 812.2376
Epoch 33/100
721/721 [==============================] - 0s 39us/step - loss: 782.0184
Epoch 34/100
721/721 [==============================] - 0s 39us/step - loss: 751.8830
Epoch 35/100
721/721 [==============================] - 0s 39us/step - loss: 722.9929
Epoch 36/100
721/721 [==============================] - 0s 40us/step - loss: 694.3941
Epoch 37/100
721/721 [==============================] - 0s 39us/step - loss: 666.4772
Epoch 38/100
721/721 [==============================] - 0s 41us/step - loss: 639.2672
Epoch 39/100
721/721 [==============================] - 0s 41us/step - loss: 613.1284
Epoch 40/100
721/721 [==============================] - 0s 39us/step - loss: 587.5683
Epoch 41/100
721/721 [==============================] - 0s 39us/step - loss: 562.9584
Epoch 42/100
721/721 [==============================] - 0s 40us/step - loss: 539.1504
Epoch 43/100
721/721 [==============================] - 0s 43us/step - loss: 516.1269
Epoch 44/100
721/721 [==============================] - 0s 40us/step - loss: 494.5245
Epoch 45/100
721/721 [==============================] - 0s 40us/step - loss: 473.7708
Epoch 46/100
721/721 [==============================] - 0s 39us/step - loss: 453.7792
Epoch 47/100
721/721 [==============================] - 0s 40us/step - loss: 434.6553
Epoch 48/100
721/721 [==============================] - 0s 40us/step - loss: 416.9084
Epoch 49/100
721/721 [==============================] - 0s 41us/step - loss: 399.5932
Epoch 50/100
721/721 [==============================] - 0s 41us/step - loss: 383.8509
Epoch 51/100
721/721 [==============================] - 0s 40us/step - loss: 368.7593
Epoch 52/100
721/721 [==============================] - 0s 40us/step - loss: 354.7184
Epoch 53/100
721/721 [==============================] - 0s 39us/step - loss: 341.4228
Epoch 54/100
721/721 [==============================] - 0s 37us/step - loss: 328.9637
Epoch 55/100
721/721 [==============================] - 0s 39us/step - loss: 317.5404
Epoch 56/100
721/721 [==============================] - 0s 40us/step - loss: 306.5585
Epoch 57/100
721/721 [==============================] - 0s 39us/step - loss: 296.3331
Epoch 58/100
721/721 [==============================] - 0s 37us/step - loss: 286.8830
Epoch 59/100
721/721 [==============================] - 0s 39us/step - loss: 278.1691
Epoch 60/100
721/721 [==============================] - 0s 39us/step - loss: 269.8858
Epoch 61/100
721/721 [==============================] - 0s 39us/step - loss: 262.5109
Epoch 62/100
721/721 [==============================] - 0s 39us/step - loss: 255.4479
Epoch 63/100
721/721 [==============================] - 0s 39us/step - loss: 249.1184
Epoch 64/100
721/721 [==============================] - 0s 40us/step - loss: 243.1127
Epoch 65/100
721/721 [==============================] - 0s 41us/step - loss: 237.6918
Epoch 66/100
721/721 [==============================] - 0s 40us/step - loss: 232.4624
Epoch 67/100
721/721 [==============================] - 0s 44us/step - loss: 227.8926
Epoch 68/100
721/721 [==============================] - 0s 44us/step - loss: 223.5248
Epoch 69/100
721/721 [==============================] - 0s 43us/step - loss: 219.5346
Epoch 70/100
721/721 [==============================] - 0s 43us/step - loss: 215.8931
Epoch 71/100
721/721 [==============================] - 0s 43us/step - loss: 212.5704
Epoch 72/100
721/721 [==============================] - 0s 43us/step - loss: 209.3845
Epoch 73/100
721/721 [==============================] - 0s 44us/step - loss: 206.4638
Epoch 74/100
721/721 [==============================] - 0s 40us/step - loss: 203.7979
Epoch 75/100
721/721 [==============================] - 0s 39us/step - loss: 201.2276
Epoch 76/100
721/721 [==============================] - 0s 39us/step - loss: 198.9405
Epoch 77/100
721/721 [==============================] - 0s 41us/step - loss: 196.6739
Epoch 78/100
721/721 [==============================] - 0s 39us/step - loss: 194.4712
Epoch 79/100
721/721 [==============================] - 0s 40us/step - loss: 192.5355
Epoch 80/100
721/721 [==============================] - 0s 39us/step - loss: 190.6016
Epoch 81/100
721/721 [==============================] - 0s 39us/step - loss: 189.0275
Epoch 82/100
721/721 [==============================] - 0s 39us/step - loss: 187.2225
Epoch 83/100
721/721 [==============================] - 0s 39us/step - loss: 185.6547
Epoch 84/100
721/721 [==============================] - 0s 40us/step - loss: 184.1519
Epoch 85/100
721/721 [==============================] - 0s 40us/step - loss: 182.7059
Epoch 86/100
721/721 [==============================] - 0s 40us/step - loss: 181.3439
Epoch 87/100
721/721 [==============================] - 0s 40us/step - loss: 179.8922
Epoch 88/100
721/721 [==============================] - 0s 41us/step - loss: 178.6994
Epoch 89/100
721/721 [==============================] - 0s 40us/step - loss: 177.2765
Epoch 90/100
721/721 [==============================] - 0s 41us/step - loss: 176.1158
Epoch 91/100
721/721 [==============================] - 0s 40us/step - loss: 174.8336
Epoch 92/100
721/721 [==============================] - 0s 43us/step - loss: 173.6559
Epoch 93/100
721/721 [==============================] - 0s 41us/step - loss: 172.5166
Epoch 94/100
721/721 [==============================] - 0s 40us/step - loss: 171.2913
Epoch 95/100
721/721 [==============================] - 0s 43us/step - loss: 170.1578
Epoch 96/100

721/721 [==============================] - 0s 42us/step - loss: 169.0622
Epoch 97/100
721/721 [==============================] - 0s 43us/step - loss: 167.9404
Epoch 98/100
721/721 [==============================] - 0s 41us/step - loss: 166.9000
Epoch 99/100
721/721 [==============================] - 0s 41us/step - loss: 165.7871
Epoch 100/100
721/721 [==============================] - 0s 41us/step - loss: 164.6905
309/309 [==============================] - 0s 81us/step

171.53589998016852

## MSE compared when we increase epochs

Now we have to get MSE list. But we must print our value before we go.

In [20]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

171.53590445004806 0.0

Total epochs are 100, so we have set total_mean_squared_errors as 100.

After that, I followed the same steps as Part B to see the differences.

In [21]:
total_mean_squared_errors = 100
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 76.83672992002617
MSE 2: 63.511870202123156
MSE 3: 40.97540006051172
MSE 4: 43.32605026146355
MSE 5: 41.015358082299095
MSE 6: 43.94260343533118
MSE 7: 43.4934336591307
MSE 8: 34.4410211692736
MSE 9: 34.8099900649975
MSE 10: 36.23874733440313
MSE 11: 37.09520031333356
MSE 12: 30.501118261837266
MSE 13: 38.35746959266539
MSE 14: 39.65510135638289
MSE 15: 33.37883027703245
MSE 16: 27.474140889436296
MSE 17: 32.7634971643343
MSE 18: 32.04127380840215
MSE 19: 31.657792606785844
MSE 20: 33.05145158736837
MSE 21: 29.679085197572185
MSE 22: 29.834423065185547
MSE 23: 27.910352713081828
MSE 24: 31.627121983994172
MSE 25: 32.828759313787074
MSE 26: 35.92489532668228
MSE 27: 27.843776678190263
MSE 28: 30.00452905796878
MSE 29: 34.6071136005488
MSE 30: 30.42341327358604
MSE 31: 29.62624187531209
MSE 32: 28.447874035264295
MSE 33: 30.07278527565373
MSE 34: 29.486615770457245
MSE 35: 33.635657918491795
MSE 36: 35.83830259378674
MSE 37: 26.99429078703945
MSE 38: 30.573395750669214
MSE 39: 30.865661979107408
MSE 40: 24.805786515516758
MSE 41: 32.39452931178812
MSE 42: 26.75123940625237
MSE 43: 31.21455201207627
MSE 44: 34.959017262875456
MSE 45: 34.94871183969442
MSE 46: 33.35638740070429
MSE 47: 30.737699329660163
MSE 48: 31.94914241901879
MSE 49: 33.04104901286005
MSE 50: 32.66492595487428
MSE 51: 29.054626057448896
MSE 52: 29.812245473892556
MSE 53: 28.81016535589224
MSE 54: 28.953285056796275
MSE 55: 35.22480016541712
MSE 56: 29.095450268594192
MSE 57: 29.425089709581293
MSE 58: 29.519046166182335
MSE 59: 34.33464982980278
MSE 60: 33.3801032748423
MSE 61: 31.518810284562097
MSE 62: 24.822164510831865
MSE 63: 30.276874208913267
MSE 64: 31.432013638197027
MSE 65: 28.6913983613542
MSE 66: 30.228164018550736
MSE 67: 28.640019722355223
MSE 68: 32.7009338823337
MSE 69: 27.562253556976813
MSE 70: 29.02507150520399
MSE 71: 28.618812301783887
MSE 72: 27.736175296376054
MSE 73: 27.76185962220226
MSE 74: 27.66202655656438
MSE 75: 30.20949892704541
MSE 76: 30.055251513484226
MSE 77: 27.92300128628135
MSE 78: 27.104845966721815
MSE 79: 35.651746459763416
MSE 80: 31.710407294115974
MSE 81: 27.201496858812845
MSE 82: 29.818784479184444
MSE 83: 29.04592820201491
MSE 84: 28.400676196447083
MSE 85: 27.782282141034273
MSE 86: 27.222429380447732
MSE 87: 30.487972543463354
MSE 88: 27.617813814033582
MSE 89: 27.40409138133225
MSE 90: 26.70145644339157
MSE 91: 31.441020576699266
MSE 92: 26.350434423650352
MSE 93: 30.686776651919466
MSE 94: 29.58156823957622
MSE 95: 28.606269293232643
MSE 96: 26.277711263366502
MSE 97: 29.88650744169661
MSE 98: 26.321076328314625
MSE 99: 28.509398086942902
MSE 100: 26.517358113261103


Mean: 31.90416229577972
Standard Deviation: 6.80672428122139

MSE in part B Mean: 42.8598274048752

MSE in part C Mean: 31.90416229577972

In conclustion, MSE is getting much lower(almost 15%) when we set epochs to 100 instead of 50.

Judging by lots of data scientists in the internet. If your model is still improving (according to the validation loss), then more epochs are better. You can confirm this by using a hold-out test set to compare model checkpoints e.g. at epoch 100, 200, 400, 500.

Since we just doubled our epochs in a range of 100 to 500 we can assume this will lead us to get a better outcome.

But, this does not mean 1000 or 5000 epochs give us a better outcome. This may can lead to over fit action to your CNN so we have to be careful. However, this is not our case.

In general, this gives us a conclusion that more epochs in simple model that is still improving and still not in over fit zone lead us to get more smaller MSE and that means our predictions getting more accuracy.